{{! <a href="/signup"><button>Sign Up</button></a>
<a href="/login"><button>Login</button></a> }}
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><a href="/home">TAC</a></li>
  <li class="list-group-item"><a href="/aboutus">About Us</a></li>
  <li class="list-group-item"><a href="/login">Login</a></li>
  <li class="list-group-item"><a href="/signup">Join Today</a></li>
  <li class="list-group-item"><a href="/news">Join Our Newsletter!</a></li>
</ul>