<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width={device-width}, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/92bb807836.js" crossorigin="anonymous"></script>
    <title>TAC</title>
</head>

<body>

    {{{body}}}

<!-- Copyright -->
<footer class="text-center p-4" style="background-color: rgba(171, 206, 210, 0.874);">© 2022 Copyright:
    <a class="text-dark" href="./home">TAC Inc.</a>
        <!-- Github -->
        <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://github.com/DayneLalmond/fullstack_project" role="button"><i
                class="fab fa-github"></i></a>
</footer>
    
</body>

</html>

