{{> nav}}
<form>
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="./images/tac.logo.png" style="width: 185px;" alt="logo">
                    <p class="mt-1 mb-5 pb-1">We love to hear your opinion!</p>
                  </div>



                  <h4><strong>Contact Form</strong></h4>

                  <br>
                  <div class="form-outline mb-4">
                    <!-- Name input -->
                    <label class="form-label" for="form2Example11"></label>
                    <input type="text" id="form2Example22" class="form-control" placeholder="Name" />
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example11"></label>
                      <input type="email" id="form2Example11" class="form-control" placeholder="Email address" />
                    </div>
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form4Example3" rows="4" placeholder="Message"></textarea>
                      <label class="form-label" for="form4Example3"></label>
                    </div>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-lg">Send</button>
                    {{!-- <a class="text-muted" href="#!">Forgot password?</a> --}}
                  </div>
</form>
</section>
<script src="./js/login.js"></script>