 {{> nav}}

   

    <form class="form signup-form">
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
          <!-- Default checkbox -->
        <div class="form-check">
         <input class="form-check-input" type="checkbox" value="" id="check-box" />
        <label class="form-check-label" for="flexCheckDefault">Remember Me</label>
      </div>
    </form>