<h1>Hello World!</h1>
{{{get_emoji}}}
<button id="ad">Create Ad</button>
<input id = "email-login" />
<input id = "password-login" />


<--Set the js file to use-->
<script src="./js/home.js"></script>
