
{{> nav}}
<div class="jumbotron">
  <h1 class="display-3">Welcome to TAC!</h1>
  <p>The Advertising Campaign! TAC</p>
  <hr class="my-2">
  <p>Our project will allow users to create ads and give subscribed customers a first look at the provided material
        via email. The minimum viable product would include using an authenticated login, a user’s ability to create an
        ad, prompt a list of subscriber emails, and complete the campaign by sending the newly created ad to their email
        address.</p>
  <p class="lead"><br>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Join Today</a>
  </p>
</div>


<div class="container">
    <h4>We Are The Advertising Campaign!</h4>
    <p>Our project will allow users to create ads and give subscribed customers a first look at the provided material
        via email. The minimum viable product would include using an authenticated login, a user’s ability to create an
        ad, prompt a list of subscriber emails, and complete the campaign by sending the newly created ad to their email
        address.
    </p>
</div>




  <!-- Copyright -->
  {{!-- <section class="grainy-gradient-intro">
  <svg height="0" width="0">
    <filter id='f'>
      <feTurbulence type='fractalNoise' baseFrequency='.5' />
    </filter>
  </svg>
  <div class="d-flex justify-content-center align-items-center text-center" style="height: calc(100vh - 26px);">
    <h1 class="display-4 fw-bold text-uppercase text-dark mb-0" style="letter-spacing: 15px;">Coffee and Games</h1>
  </div>
</section> --}}

<h1>Hello World!</h1>
{{{get_emoji}}}
<button id="ad">Create Ad</button>
<input id = "email-login" />
<input id = "password-login" />


<script src="./js/home.js"></script>
