<nav>

  <h3><a href="https://github.com/DayneLalmond/the_advertising_campaign" target="_blank" "git"><strong>Github </strong><i class="bi bi-github"></i></a></h3>
</nav>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">The Advertising Campaign</h1>

        <p class="lead"><strong>TAC is a marketing webtool for administrators to upgrade their startup business.
            This application provides secure login authentication, minimalistic user interface, and a
            commercial email marketing service to send personalized emails to customers. Signup today to expand
            your clientele. Already signed up? Login below and let's work together.</strong></p>

      </div>
      <p class="lead"><a class="btn btn-lg btn-success btn-home" href="./signup">Signup</a><a
          class="btn btn-lg btn-success btn-home" href="./login">Login</a></p>
    </div>
  </div>
</div>

<script src="./js/home.js"></script>