<nav>
  <h3><a href="./home" id="navlink"><i class="bi bi-back"></i><strong> Home</strong></a></h3>
</nav>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">


      <div class="col-md-6">
        <h2><strong>Welcome back. Let's reach out to your audience today.</strong></h2>

        <form class="form login-form">
          <div class="form-group">
            <input class="form-input" type="email" id="email-login" placeholder="Email"/>
          </div>
          <div class="form-group">
            <input class="form-input" type="password" id="password-login" placeholder="Password"/>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit" id="btn-login">Login</button>
          </div>
        </form>

        <h6 id="login-form"></h6>
      </div>

    </div>
  </div>
</div>

<script src="./js/login.js"></script>


 

