<nav>
  <h3><a href="./home" id="navlink"><i class="bi bi-back"></i><strong> Logout</strong></a></h3>
</nav>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">


      <div class="col-md-6">
        <h2><strong>Thanks for using our service. Your email has been sent.</strong></h2>
      </div>

    </div>
  </div>
</div>