<nav>
  <h3><a href="./home" id="navlink"><i class="bi bi-back"></i><strong> Home</strong></a></h3>
</nav>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">


      <div class="col-md-6">
        <h2><strong>Begin scaling your business. Promote content via email.</strong></h2>

        <form class="form signup-form">
          <div class="form-group">
            <input class="form-input" type="text" id="name-signup" placeholder="Name" />
          </div>
          <div class="form-group">
            <input class="form-input" type="text" id="email-signup" placeholder="Email" />
          </div>
          <div class="form-group">
            <input class="form-input" type="password" id="password-signup" placeholder="Password" />
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit" id="btn-signup">Signup</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<script src="./js/signup.js"></script>